html {
height:100%;
}

body {
-moz-background-size:cover;
-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/back-record.png', sizingMethod='scale')";
-o-background-size:cover;
-webkit-background-size:cover;
background:url(../img/back-record.png) no-repeat center center fixed;
background-size:cover;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/back-record.png',sizingMethod='scale');
color:#fff;
height:100%;
}

body,h1,h2,h3,h4,p,div {
font-family:Raleway, 'Helvetica Neue', sans-serif;
}

a {
color:#ccc;
text-decoration:none;
}

.bold {
font-weight:600;
}

a:hover,a:active,a:focus {
color:#fff;
text-decoration:none;
}

.no-padding {
  padding: 0;
}

div.divider {
background:#C6C6C6;
display:block;
height:2px;
width:100%;
margin:10px 0;
}

.wrap-pattern {
background:transparent url(../img/pattern.png);
}

.pattern {
background:transparent url(../img/pattern.png);
height:100%;
}

#wrapper {
-moz-background-size:cover;
-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/model.jpg', sizingMethod='scale')";
-o-background-size:cover;
-webkit-background-size:cover;
background:url(../img/model.jpg) no-repeat center center;
background-size:cover;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/model.jpg',sizingMethod='scale');
-webkit-box-shadow:0 10px 15px rgba(0,0,0,0.4);
-moz-box-shadow:0 10px 15px rgba(0,0,0,0.4);
box-shadow:0 10px 15px rgba(0,0,0,0.4);
height:76%;
width:100%;
}

.navbar {
height:70px;
}

.navbar-inverse {
background-color:rgba(0,0,0,0.6);
border:0;
}

.navbar-nav > li > a {
font-size:16px;
padding-bottom:25px;
padding-top:25px;
}

.navbar > .container .navbar-brand {
background:url(../img/logo.png) no-repeat;
height:53px;
margin-top:8px;
width:205px;
}

.navbar i.cart-icon {
font-size:20px;
}

.navbar span.badge {
margin-top:3px;
background:#634cb7;
}

.navbar-toggle {
border:0;
margin-top:18px;
}

.container-full {
width:100%;
height:100%;
margin:0 auto;
}

li.mobile-only {
display:none;
}

.text-center {
text-align:center;
}

.text-right {
text-align:right;
}

/* LOGIN */

#login-modal .modal-content {
position: relative;
background-color: rgba(0,0,0,0.7);
border: 2px solid rgba(60, 60, 60, 0.8);
border-radius: 3px;
outline: none;
-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
background-clip: padding-box;
}

#login-modal .modal-body {
position: relative;
padding: 10px 50px 10px 50px;
}

#login-modal .modal-footer {
  margin: 0;
  border: 0;
}
#login-modal .form-group {
  margin-bottom: 10px;
}

#login-modal .form-control {
  border: 1px solid #D1CED9;
border-radius: 1px;
height: 27px;
padding: 6px 10px;
font-size: 12px;
}

#login-modal .modal-header {
min-height: 16.428571429px;
margin: 7px 15px;
border-bottom: 2px solid #A0A0A0;
padding: 5px 0px;
}

#login-modal .modal-header .close-modal {
float: right;
display: inline-block;
}

/* btn */

.btn-facebook {
  background: #3B5998;
  border-radius: 0;
  border-bottom: 2px solid #6B7C9E;
}

.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:focus {
  background: #33508B;
  color: #fff;
}

.btn-white {
  background: #EBE6EE;
  border-radius: 0;
  margin-bottom: 6px;
  color: #222;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  background: #D0CBD3;
  color: #000;
}

.btn-gray {
  background: #818181;
  border-radius: 0;
  border-bottom: 2px solid #969696;
  color: #eee;
}

.btn-gray:hover,
.btn-gray:active,
.btn-gray:focus {
  background: #7A7A7A;
  color: #fff;
}

.btn-red {
background: #C72747;
border-radius: 0;
border-bottom: 2px solid #DF5979;
color: #eee;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
  background: #DD2A4E;
  color: #fff;

}


/* CREATE */
#content_container {
  padding-top: 95px;
}


h1.page-title {
font-size:33px;
font-weight:100;
padding-bottom:30px;
}

h1.create-title {
font-size:33px;
font-weight:300;
padding-bottom:80px;
padding-top:35px;
margin:0;
}

#jewel-properties .form-group {
  text-align: center;
}

#jewel-properties label {
  color: #CACACA;
  padding-bottom: 6px;
  font-size:11px;
}

.create div.btn-create {
margin:0 auto 10px;
}

.btn-create {
background:url(../img/create.png) no-repeat;
background-size:130px 130px;
width:130px;
height:130px;
margin-top:300px;
display:block;
}

.container > .profile {
padding-bottom:100px;
margin:0 20%;
}

.container > .shopping-cart {
padding-bottom:100px;
margin:0 8%;
}

.cart {
padding-top:80px;
}

.shop-controls a {
font-size:11px;
}

h2.control-title {
font-size:25px;
font-weight:200;
padding-bottom:10px;
}

h2.control-title-sm {
font-size:17px;
font-weight:200;
margin:0;
padding:0 0 5px;
}

.price {
font-size:18px;
font-weight:200;
}

.price-sm {
font-size:14px;
font-weight:200;
}

.top-spaced {
padding-top:15px;
}

.desktop-only {
font-weight:600;
padding-top:35px;
}

.boxed > .box {
background:rgba(255,255,255,0.2);
margin-bottom:15px;
padding:15px;
}

.boxed > .box-primary {
background:rgba(255,255,255,0.85);
color:#000;
padding:10px 60px 30px;
}

.boxed > .box-profile {
  background:rgba(255,255,255,0.85);
  color:#000;
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
}

.box-cart {
min-height:120px;
}

.preview img {
display:block;
max-height:90px;
width:90%;
max-width:100px;
margin:0 auto;
}

.form-control {
border:1px solid #D1CED9;
border-radius:2px;
height:30px;
}

input.item-number {
height:24px;
width:50px;
margin:0 auto;
}

.form-group {
margin-bottom:3px;
}

label {
color:#555;
font-size:12px;
font-weight:600;
margin:12px 0 3px;
}

.payment img {
display:block;
margin:20px auto;
}

footer {
background:rgba(0,0,0,0.7);
font-size:13px;
height:50px;
position: fixed;
bottom: 0;
}

footer > #footer-menu > ul {
padding-top:5px;
}

footer > #footer-menu > .nav > li > a:hover {
background-color:rgba(0,0,0,0.2);
}


.modal-dialog {
max-width: 400px;
margin: 30px auto;
}



@media (min-width: 768px) and (max-width: 979px) {
.boxed-image {
padding:0;
}

.desktop-only {
display:none;
}
}

@media screen and (max-width: 767px) {
.navbar > .container .navbar-brand {
margin-left:13px;
}

.desktop-only {
display:none;
}


.boxed-image,form .boxed {
padding:0;
}

#footer-menu {
    display: none;
}


}

@media (max-width: 480px) {
.container > .shopping-cart {
margin:0;
}
.container > .profile {
  margin: 15px 15px;
}

}

.boxed > .box-primary {
background:rgba(255,255,255,0.85);
color:#000;
padding:10px 20px 20px;
}

.desktop-only {
display:none;
}http://localhost:8081/create.html

.boxed-image,form .boxed {
padding:0;
}


}


/* Jewel canvas */
#canvasDIV canvas{
    margin: 0 auto;
    display: block;
}

#ring_canvas:active, #ring_canvas:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#record_button{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

#record_canvasDIV{
    position: relative;
    margin: 0 auto;
    width: 140px;
    height: 140px;
}

#record_canvas{
    position: relative;
}

#play_button{
    margin-top: 45px;
    width: 50px;
    height: 50px;
}

#record_time_feedback{
    margin-top: 60px;
}

#control_div{
    color: #fff;
    font-size: 12px;
}

#waveform_canvas{
    margin-top: 0px;
    margin-bottom: 20px;
}





/** HIDDEN CANVAS **/
#order_div{
    position: relative;
    display: none;
    visibility: hidden;
}
/** /HIDDEN CANVAS */